<div class="jumbotron mt-3">
    <h1 class="alert alert-warning">
        Compra finalizada!
    </h1>
    <p>Se enviaron los detalles por whatsapp a su número.</p>
</div>
<script>
    setTimeout(() => {
        location.href = '/home'
    }, 3000)
</script>